configuration (  
        master_exec_path = "/mnt/apps/public/COE/synopsys_apps/icvalidator/S-2021.06-SP2/bin/LINUX64_L31el/icv_manager",
        slave_exec_path = "/mnt/apps/public/COE/synopsys_apps/icvalidator/S-2021.06-SP2/bin/LINUX64_L31el/icv_worker",
        engine_exec_path = "/mnt/apps/public/COE/synopsys_apps/icvalidator/S-2021.06-SP2/bin/LINUX64_L31el/icv_engine",
        working_directory = "/afs/unity.ncsu.edu/users/z/zwmurray/ece546/proj_working/synopsys_custom/Write_Driver.icv.lvs",
        run_details_directory = "/afs/unity.ncsu.edu/users/z/zwmurray/ece546/proj_working/synopsys_custom/Write_Driver.icv.lvs/run_details",
        group_directory = "/afs/unity.ncsu.edu/users/z/zwmurray/ece546/proj_working/synopsys_custom/Write_Driver.icv.lvs/run_details/group"
 );

hosts ( 
      batch_system = "0", 

      machines = {  
                 { grendel27.ece.ncsu.edu, ""},
                 { grendel27.ece.ncsu.edu, ""},
                 }
);
